.Application{
    text-align: center;
    margin : 0 5em;
    background-color : #315399 ;
    color : white;
}
#locations{
    display: flex;
    align-items: center;
    justify-content: center;

}
#enviroments{
    display: flex;
    justify-content: space-between;
    margin: -1.5em 2em;

}
